<div
  class="pensamento {{ thought.model }} ff-roboto-mono"
  [ngClass]="thoughtWidth()"
>
  <img
    src="../../../../assets/images/{{ thought.model }}.png"
    alt="Aspas coloridas"
  />
  <p class="conteudo">{{ thought.content }}</p>
  <p class="autoria">
    <b>{{ thought.author }}</b>
  </p>
  <div class="acoes">
    <button class="botao-favorito" (click)="updateFavourites()">
      <img
        src="../../../../assets/images/icone-favorito-{{
          changeFavouriteIcon()
        }}.png"
        alt="Ícone fav {{ changeFavouriteIcon() }}"
      />
    </button>
    <button class="botao-editar">
      <img
        src="../../../../assets/images/icone-editar.png"
        alt="Ícone de editar"
        routerLink="/thoughts/editThought/{{ thought.id }}"
      />
    </button>
    <button
      class="botao-excluir"
      routerLink="/thoughts/deleteThought/{{ thought.id }}"
    >
      <img
        src="../../../../assets/images/icone-excluir.png"
        alt="Ícone de excluir"
      />
    </button>
  </div>
</div>
