<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
      <input
        type="search"
        class="filtro"
        placeholder="What are you looking for?"
        [(ngModel)]="filter"
      />
    </div>
    <h2 class="ff-inter">My Mural</h2>
    <button routerLink="/createThought" class="botao">Add Thought</button>
  </header>
  <div class="mural" *ngIf="thoughts.length > 0; else noThought">
    <div *ngFor="let thought of thoughts">
      <app-thought [thought]="thought"></app-thought>
    </div>
  </div>
</section>

<app-load-more-button
  [thereIsMoreThoughts]="thereIsMoreThoughts"
  (click)="loadMoreThoughts()"
></app-load-more-button>

<ng-template #noThought>
  <div class="ff-inter sem-pensamentos">
    <p>Ainda nao existem pensamentos</p>
  </div>
</ng-template>
