<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Add a <br />new Thought:</h2>
  </header>
  <form [formGroup]="form">
    <label for="pensamento">Thought</label>
    <input
      type="textarea"
      class="input"
      id="pensamento"
      formControlName="content"
      placeholder="Type a thought"
    />

    <div
      class="mensagem__erro"
      *ngIf="form.get('content')?.errors && form.get('content')?.touched"
    >
      Thought is required
    </div>

    <label for="autoria">Author or Source</label>
    <input
      type="text"
      class="input"
      id="autoria"
      formControlName="author"
      placeholder="Type author or source"
    />

    <div
      class="mensagem__erro"
      *ngIf="form.get('author')?.errors?.['required'] && form.get('author')?.touched"
    >
      Author is required
    </div>
    <div
      class="mensagem__erro"
      *ngIf="form.get('author')?.errors?.['minlength'] && form.get('author')?.touched"
    >
      Author must have at least 3 characters
    </div>

    <label for="modelo">Select a card model:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input
            type="radio"
            id="modelo1"
            value="modelo1"
            formControlName="model"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Model 1</span>
        </label>
        Preview:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/images/modelo1.png" alt="Aspas azuis" />
          <p class="conteudo">{{ form.get("content")?.value }}</p>
          <p class="autoria">
            <b>{{ form.get("author")?.value }}</b>
          </p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo2">
          <input
            type="radio"
            id="modelo2"
            value="modelo2"
            formControlName="model"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Model 2</span>
        </label>
        Preview:
        <div class="modelo modelo2 ff-roboto-mono">
          <img
            src="../../../../assets/images/modelo2.png"
            alt="Aspas azul claro"
          />
          <p class="conteudo">{{ form.get("content")?.value }}</p>
          <p class="autoria">
            <b>{{ form.get("author")?.value }}</b>
          </p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo3">
          <input
            type="radio"
            id="modelo3"
            value="modelo3"
            formControlName="model"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Model 3</span>
        </label>
        Preview:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/images/modelo3.png" alt="Aspas verdes" />
          <p class="conteudo">{{ form.get("content")?.value }}</p>
          <p class="autoria">
            <b>{{ form.get("author")?.value }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button
        [disabled]="!form.valid"
        (click)="createThought()"
        [ngClass]="enableButton()"
      >
        Save
      </button>
      <button (click)="cancel()" class="botao">Cancelr</button>
    </div>
  </form>
</section>
